<!DOCTYPE html>
<html>
<head>
	<title>About Us - Beauty Blog</title>
	<link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
	<header>
		<h1>About Us</h1>
	</header>

	<nav>
		<ul>
			<li><a href="blog.html">Blog</a></li>
			<li><a href="about.html">About Us</a></li>
			<li><a href="contact.html">Contact</a></li>
		</ul>
	</nav>
	<main>
		<article>
			<h3>About Our Beauty Blog</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed commodo, velit sed pharetra eleifend, augue nisi volutpat dolor, eu volutpat dui dolor et nunc. Vivamus eget nisl eget nisi volutpat commodo. Nulla facilisi. Sed vel tortor eget sapien consectetur ultrices.</p>
		</article>
	</main>
	<footer>
		<p>Copyright © 2023 Beauty Blog</p>
	</footer>
</body>
</html>