<!DOCTYPE html>
<html>
<head>
	<title>Contact - Beauty Blog</title>
	<link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
	<header>
		<h1>Contact Us</h1>
	</header>

	<nav>
		<ul>
			<li><a href="blog.html">Blog</a></li>
			<li><a href="about.html">About Us</a></li>
			<li><a href="contact.html">Contact</a></li>
		</ul>
	</nav>
	<main>

		<article>
			<h3>Get in Touch</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed commodo, velit sed pharetra eleifend, augue nisi volutpat dolor, eu volutpat dui dolor et nunc. Vivamus eget nisl eget nisi volutpat commodo. Nulla facilisi. Sed vel tortor eget sapien consectetur ultrices.</p>
			<h4>Contact Information</h4>
			<ul>
				<li>Email: <a href="mailto:beautyblog@gmail.com">beautyblog@gmail.com</a></li>
				<li>Phone/WhatsApp: <a href="tel: 085240294292">0852 4029 4292</a></li>
				<li>Instagram: <a href="https://www.instagram.com/beautyblog/" target="_blank">@beautyblog</a></li>
			</ul>
		</article>
	</main>
	
</body>
</html>
